# DAU Simulation

Este notebook simula dados fictícios para demonstrar o cálculo de DAU (Daily Active Users).

In [6]:
import pandas as pd
import plotly.express as px
import numpy as np
from datetime import timedelta

## Gerar dados simulados de uso de usuários

In [10]:
# Definir usuários e datas
np.random.seed(42)
users = [f"user_{i}" for i in range(1, 51)]
start_date = pd.to_datetime("2025-03-01")

# Simular atividades
data = []
for user in users:
    active_days = np.random.choice(range(30), size=np.random.randint(5, 15), replace=False)
    for day in active_days:
        data.append({"user_id": user, "date": start_date + timedelta(days=int(day))})

df = pd.DataFrame(data)
df.head()

  user_id       date
0  user_1 2025-03-28
1  user_1 2025-03-16
2  user_1 2025-03-24
3  user_1 2025-03-18
4  user_1 2025-03-09

## Calcular DAU

In [3]:
dau = df.groupby("date")["user_id"].nunique().reset_index()
dau.columns = ["date", "dau"]
dau.head()

        date  dau
0 2025-03-01   16
1 2025-03-02   13
2 2025-03-03   18
3 2025-03-04   19
4 2025-03-05   16

## Visualizar DAU com gráfico de linha

In [15]:
# Criar gráfico
fig = px.line(
    dau,
    x="date",
    y="dau",
    title="DAU - Daily Active Users (Simulação)",
    markers=True,
    labels={"date": "Data", "dau": "Usuários Ativos"},
    template="plotly_white",
    text="dau"
)

fig.update_traces(textposition="top center", line=dict(width=2))
fig.update_layout(title_font_size=20)

# Tenta mostrar no notebook (Jupyter)
try:
    fig.show()
except Exception as e:
    print("Erro ao renderizar no notebook. Tentando abrir no navegador...")
    fig.show(renderer="browser")

Erro ao renderizar no notebook. Tentando abrir no navegador...